@using FilmKiralama.Entities.Model
@model Film
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="font-family: 'Helvetica'">

    <div style="text-align: center; background-color: #1C2E3E;color:white;margin:15px">
        <h2><b> Id : @Model.FilmId - Film Guncelle</b></h2>
    </div>
</div>

<div style="margin:15px">
    @using (Html.BeginForm("Guncelle", "Film", FormMethod.Post))
    {
        @Html.Label("Film Id ")
        @Html.TextBoxFor(x => x.FilmId, new { @class = "form-control" ,@readonly ="readonly" })
        <br />

        @Html.Label("Afiş")
        @Html.TextBoxFor(m => m.Fotograf, new { @class = "form-control" })
        <br />

        @Html.Label("Film Adı")
        @Html.TextBoxFor(x => x.FilmAdi, new { @class = "form-control" })
        <br />

        @Html.Label("Kategorisi")
        @Html.DropDownListFor(x => x.Kategori.KategoriId, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        <br />

        @Html.Label("Yayın Yılı")
        @Html.TextBoxFor(x => x.YayinYili, new { @class = "form-control" })
        <br />
        
        @Html.Label("Imbd Puanı")
        @Html.TextBoxFor(x => x.ImbdPuan, new { @class = "form-control" })
        <br />
        @Html.Label("Konusu")
        @Html.TextBoxFor(x => x.FilmAciklama, new { @class = "form-control" })
        <br />
     
        
        <button style="text-align: center; background-color: #1C2E3E; color: white;height:40px"> <b>Güncelle</b></button>
    }
</div>


